body {
    background: thistle;
}

main {
    min-height: 80vh;
    width: 75%;
    margin: auto;
    padding: 3em;
}

.center {
    margin: auto;
    width: fit-content;
}

h1 {
    text-align: center;
}

input:focus {
    outline: none;
}

.invalid {
    opacity: 0;
    visibility: hidden;
    background: #00C4B4;
    text-align: center;
    color: #fff;
    padding: 0.5em;
    margin-top: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 250px;
}

.f {
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    width: 250px;
    height: 30px;
    padding-left: 10px;
}